
body {
    background-color: #141414;
    color: #D92830;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#profileButton {

}
#workButton {

}

.title {
    padding: 20px;
    background-color: #D92830;
    color: #ffffff;
}

a {
    color: #ffff00;
}

.profileImg {
    filter: grayscale(100%);
    border-radius: 225px;
    border-width: 10px;
    border-style: solid;
    border-color: #D92830;
}

#profile {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.placeholders1 {
    border-radius: 20px;
    max-width: 300px;
    padding: 5px;
}

#work :hover {
    filter: contrast(200%);
}

#work {
    position: relative;
}

#work span {
    position: absolute;
    padding:10px;
    background-color: black;
    color: white;
    top: 5px;
    left: 5px;
}

.imageAttributes {
    padding: 5px;
    border-color: #D92830;
    border-style: solid;
    border-style: outset;
    border-width: 10px;
}